body {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 10px;
        justify-content: center;
        height: 100vh;
        
    }
    
    @keyframes gradientBG {
         0% { backgroun-position: 50% 50%; }
        100% { background-position: 50% 50%; }

    }

    #bg-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transition: opacity 1s ease;
        /* put behind everything else */
        z-index: -1;    
        /* make video cover entire background */
        object-fit: cover;
        
    }

    #quote, #author {
        /* starts hidden */
        opacity: 0;
        /* smooth fade */
        transition: opacity 0.8s ease-in-out;
    }

    #quote.show, #author.show {
        /* fade in */
        opacity: 1;
    }
    #page-title {
        display: inline-block;
        text-align: center;
        padding: 20px;
        font-size:  4rem;
        margin-top: 10px;
        margin-bottom: 50px;
        opacity: .6;
        color: black;
        background: none;
        border: none;  
       
}

    #quote-box {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        text-shadow: 5px 5px 5px rgb(0, 21, 59);
        padding: 100px;
        margin-bottom: 100px;
        opacity: .7;
        max-width: 500px;
        text-align: center;
    }

    #quote {
        font-size: 3rem;
        margin-bottom: 15px;
        font-weight: bold;
        text-shadow: 5px 5px 5px rgb(0, 21, 59);
        color: rgb(255, 255, 255);
        
    }

    #author {
        font-weight: bold;
        margin-bottom: 20px;
    }

    button {
        margin: 5px;
        padding: 10px 20px;
        font-size: 2rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    button:hover {
        transform: scale(1.05);
        background-color: blue;
        color: white;
    }

    #new-quote {
        background-color: rgba(29, 129, 243, 0.548);
        color: rgb(255, 255, 255);
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    #copy-quote {
       background-color: rgba(131, 169, 240, 0.692);
        color: rgb(255, 255, 255);
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    #thank-you {
        margin-top: 15px;
        color: white;
        font-weight: bold;
        display: none;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }



